extends dashboard.pug

block title
    title Login Billing: Dashboard

block content
    .container
        .row
            .col.s12
                h5 Services
                if error
                    .red-text
                        strong= error
                if message
                    .green-text
                        strong= message
                .divider
        .row
            .col.s12
                ul.collapsible
                    if services && services.length>0
                        each service in services
                            li
                                .collapsible-header
                                    strong= service.name
                                .collapsible-body.hoverable
                                    .section
                                        div(style="font-weight: bolder") Log Format (Regex)
                                        div= service.prefix
                                    .section
                                        div(style="font-weight: bolder") Service Description
                                        div= service.description
                    else
                        +alert('No Services Defined', 'Click on the plus sign to add a new one.', 'error')

    .fixed-action-btn
        a.btn-floating.btn-large.red(href="admin/add-service")
            i.material-icons.large add_circle