extends dashboard.pug

block title
    title Login Billing: Dashboard

block content
    .container
        .row
            .col.s12
                h5 User Detail
                if error
                    .red-text
                        strong= error
                if message
                    .green-text
                        strong= message
                .divider
        .row
            if user_detail
                .col.s12
                    .card
                        .card-image
                          a.btn-floating.halfway-fab.clr-bg-edit(href='admin/user/' + user_detail.user_id + '/edit')
                            i.material-icons edit
                        .card-content
                            .row.card-title
                                .col= user_detail.first_name + ' ' + user_detail.last_name + ' '
                                .col.right
                                    i.material-icons= user_detail.is_active ? 'work_on' : 'work_off'
                                .col.right
                                    i.material-icons= user_detail.is_admin ? 'settings' : ''
                            .divider
                            p= user_detail.email +" | " + user_detail.organization
                .col.s12
                    .card
                        .card-content
                            .card-title Service Pricing
                            p TODO
                .col.s12
                    .card
                        .card-image
                          a.btn-floating.halfway-fab.clr-bg-add(href='admin/add-endpoints?user_id=' + user_detail.user_id)
                            i.material-icons add_circle
                        .card-content
                            .card-title Endpoints
                            table(type='lb-datatable' data-type='json' data-field='data' data-url='api/endpoints/'+user_detail.user_id data-header='["", "IP", "Name","Created"]' data-items='["endpoint_id", "ip", "name", "create_time"]' )
                              script.
                                [
                                  {
                                    "targets": [0],
                                    "data": null,
                                    "render": function ( data, type, row, meta ) {return '<a class="clr-fg-link" href="admin/endpoint/'+row[meta['col']]+'"><i class="material-icons">info</i> (TODO)</a>';}
                                  },
                                  {
                                    "targets": [3],
                                    "data": null,
                                    "render": function ( data, type, row, meta ) { return row[meta['col']] ? moment(row[meta['col']]).format('YYYY-MM-DD') : '';}
                                  }
                                ]
                .col.s12
                    .card
                        .card-content
                            .card-title Activity Log
                            p TODO
            else
                +alert('User not defined', '', 'error')
